

        h3{
            text-align: center;
        }
        input{
            text-align:center;
            height: 25px;
            
    
        }
        body{
            background-image:url("https://as1.ftcdn.net/jpg/01/85/66/14/1000_F_185661497_zPjAueyhzl2ErxdE37VKDFNOuZN6ukyj.jpg");
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
           min-height: 100vh;
        }
        input::placeholder{
            color: rgba(178, 69, 69, 0.728);
             color: rgb(174, 100, 100);
        }
        button{
            color:rgb(165, 89, 99);
        }
        audio{
            display: none;
        }
        #greeting {
            font-size: 48px;
            font-weight: bold;
            margin-top: 15px;
        }
        .orange {
            color: rgb(237, 16, 27);
        }
        .white {
            color: white;
        }
        .green {
            color: green;
        }
        html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
center{
    width:100%;
}
